  * {
  font-family: Open Sans;
}
*,
*:after,
*:before, {
  box-sizing: border-box;
}


body {
  margin: 0;
}


h1{
  width: 600px;
  text-align: center;
  margin: 200px 8px 0px 0px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 80px;
  display: inline-block;
  
}

.body-submission {
  background-color: #455A64;
  display: inline-block;  
  height: 100%;
  position: absolute;
  text-align: center;
  width: 50%;
}

#logo {
  display: inline-block;
  height: 79px;
  width: 112px;
  margin: -8px 7px;
}

.enter-button {
  display: inline-block;
  text-align: center;
  background-color: #FFC107;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  width: 406px;
  height: 38px;
}

.enter-button:disabled {
  display: inline-block;
  text-align: center;
  background-color: #FFC107;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  width: 604px;
  height: 38px;
  border: none; 
}

.enter-button:hover{
  background-color: #FFD773;
}

#website-title{
  margin: 38px 36px;
  padding-right: 10px;
  height: 38px;
  width: 600px;
  text-align: left;
  letter-spacing: 0.5;
  font-size: 27px;
  font-weight: 400;
  display: block;
}

#website-url {
  margin: 53px 36px;
  padding-right: 10px;
  height: 38px;
  width: 600px;
  display: block;
  text-align: left;
  letter-spacing: 0.5;
  font-weight: 400;
  font-size: 27px;

}



.card-body {
  background-color: #CFD8DC;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
}
