* {
  font-family: Open Sans;
}
*,
*:after,
*:before, {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1{
  color: #FFFFFF;
  display: block; 
  font-size: 78px;
  font-weight: 800;
  margin: 200px 0px 0px 15px;
  width: 600px;
  text-align: center;
}

.body-submission {
  background-color: #455A64;
  display: inline-block;  
  height: 100%;
  position: absolute;
  text-align: center;
  width: 50%;
}

#logo {
  display: inline-block;
  height: 79px;
  margin: -8px 7px;
  width: 118px;
}

.enter-button {
  background-color: #FFC107;
  border: none; 
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  font-weight: 400;
  height: 38px;
  margin: 0px 0px 0px 43px;
  text-align: center;
  padding: 0px 249px
  /*width: 550px;*/
}

.enter-button:disabled {
  /*background-color: #FFC107;*/
  /*border: none; */
  /*color: #FFFFFF;*/
  /*display: inline-block;*/
 /* font-size: 20px;
  font-weight: 400;
  height: 38px;
  text-align: center;
  width: 540px;*/
}

.enter-button:hover{
  background-color: #FFD773;
}

#website-title{
  color: #BBBDBF;
  display: block;
  font-size: 27px;
  font-weight: 400;
  height: 38px;
  letter-spacing: 0.5px;
  margin: 47px 43px;
  padding: 0px 238px 0px 9px;
  text-align: left;
  /*width: 534px;*/
}

#website-url {
  color: #BBBDBF;
  display: block;
  height: 38px;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 53px 43px;
  padding: 0px 238px 0px 9px;
  text-align: left;
  /*width: 534px;*/
}

.card-body {
  background-color: #CFD8DC;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
}
